body{
  background-color:  #e07ba2;
}

#root{
  margin: 4em;
}


 .App{
  margin: 0 auto;
  padding:1em;
  width: 475px;
  background-color:  white;
  border-radius: 10px;

}

.image{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.birthday-reminder-title{
  margin-left: 1em;
}


.content-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.delete-button{
  background-color: #f28ab2;
  font-size:16px;
  padding: 1em;
  width: 100%;
  border:none;
  border-radius: 5px;
  color: white;

}

.delete-button:hover{
  cursor: pointer;
}

.user-info{
  margin-left: 2em;
}

.birthday, .name{
  margin: 0;

}

.birthday{
  padding-top: 5px;
}